 .common-contentbox {
   width: 80%;
   margin-right: 10%;
   margin-left: 10%;
 }
 
 .common-colorscheme {
   background-color: transparent;
   color: #fff;
 }
 
 .common-headertext {
   color: #f0f0f0;
   text-align: center;
   font-weight: 800;
   min-height: 160px;
   text-decoration:none ;


 }



 
 .header {
   composes: common-contentbox ;
   composes: common-colorscheme; width: 80%;
   margin-right: 10%;
   margin-left: 10%;
   /*composes: colorscheme from '../components/General'*/

      /* Portrait and Landscape */
   @media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 480px) {
      
       min-height:90px;
   }
 }
 
 .headerText {
   font-size: 35px;
   margin: 35px auto 0px;
   composes: common-headertext;

      /* Portrait and Landscape */
   @media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 480px) {
      
      font-size: 20px;
      margin: 20px auto 0px;
      min-height:90px;
   }
 }
  .headerSubText {
   font-size: 20px;
   margin:  5px auto 0px;
   font-weight:normal;;
   composes: common-headertext;


      /* Portrait and Landscape */
   @media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 480px) {
      
      font-size: 15px; 
   }
 }
 
 .headerLocale {
   font-size: 30px;
   color: #e8f380;
   margin: 5px auto 5px;
   composes: common-headertext;
   min-height:50px;

         /* Portrait and Landscape */
   @media only screen 
     and (min-device-width: 320px) 
     and (max-device-width: 480px) {
      
      font-size: 20px; 
   }
 }

section{
   text-align: center;
   cursor:pointer;
}