/**
 * styles.css
 *
 * App container styles
 */

.common-contentbox {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.common-colorscheme {
  background-color: #27ae60;
  color: #fff;
}

 .common-backgroundtree{ 
    background-image: url('./tree.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:50px;
   
 }


.container {
  display: block;
  composes: common-backgroundtree;
  composes: common-colorscheme;
  composes: common-colorscheme;
}

body {
  background-color: #27ae60;
  color: #fff;
}
